
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.emptycrate.decent_ci_runner</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/decent_ci_run.sh</string>
        <string>/usr/local/etc/decent_ci_config.yaml</string>
        <string>false</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jason/stdout</string>    
</dict>
</plist>
